@import "./variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
}

body {
  font-family: $poppins;
}

.m-10 {
  margin: 10px;
}

.h-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #0052ff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
