@import "./../../assets/css/links";

body {
  background: $dark;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(28rem, 30rem));
  margin-bottom: 30px;
}

form {
  position: relative;
  width: 100%;
  margin-top: 5em;
  padding: 50px 100px;
  background: $dark;
  border-radius: 2em;
  box-shadow: -4px -4px 20px rgba($color: $black, $alpha: 0.1),
    4px 4px 20px rgba($color: $white, $alpha: 0.1);
  .input-field {
    .input {
      color: $light;
      border-radius: 0.5em;
      height: 100%;
      width: 100%;
      padding: 25px;
      background: transparent;
      border: none;
      outline: none;
      font-family: $poppins;
      box-shadow: -4px -4px 20px rgba($color: $white, $alpha: 0.1),
        4px 4px 20px rgba($color: $black, $alpha: 0.1);
      &::placeholder {
        color: $grey;
        font-family: inherit;
      }
    }
  }
  textarea {
    resize: vertical;
    width: 100%;
  }
  .submit {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $poppins;
    box-shadow: -4px -4px 20px rgba($color: $white, $alpha: 0.1),
      4px 4px 20px rgba($color: $black, $alpha: 0.1);
    padding: 10px 20px;
    color: $light;
  }
}
